.sportsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e8cdcd;
}

.sportsTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.sportsList {
  list-style-type: none;
  padding: 0;
}

.sportItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d171bc;
  border-radius: 5px;
}

.sportItemH3 {
  margin-bottom: 10px;
}

.sportItemP {
  margin: 5px 0;
}
